<launch>

  <include file="$(find flight_controller)/launch/freyja_controller.launch">
    <!-- Default Settings -->
    <arg name="autopilot"             value="arducopter" />
    <arg name="comm_port"             value="/dev/ttyUSB0:57600"/>
    <arg name="use_waypoint_handler"  value="false" />
    <arg name="use_velctrl_only"      value="false" />
    <arg name="enable_flatness_ff"    value="false" />
    <arg name="use_examples"          value="false"/>
    <arg name="example_number"        value="0" />
    <arg name="start_rosbag"          value="false" />
    <!-- Changed Settings -->
    <arg name="vicon_topic"           value="/vicon/JOZI/JOZI"/>
    <arg name="total_mass"            value="1.2"/>
    <arg name="thrust_scaler"         value="100"/>
    <arg name="bias_compensation"     value="off"/>
  </include>

  <node name="flight_path_node" pkg="flight_controller" type="hover_straight_line.py" output="screen">
    <param name="desired_height" type="double" value="1" />
  </node> 

</launch>
